@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

:root {
    --background: #f0bcd4;
    --header-background: #f0bcd4;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

main {
    padding: 20px;
    display: center;
}

.shoot img {
    object-fit: scale-down;
    height: 10vh;
    width: 10vw;
    background-size: cover;
    background-color: transparent;
    mix-blend-mode: multiply;
}
.shoots button {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0),
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0),
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.shoot:hover {
    background-color: transparent;
}

.hidden {
    visibility: hidden;
}
header img {
    height: 75px;
    width: 75px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
}

#scoreboard li {
    display: inline-flex;
    padding: 10px;
}

#scoreboard {
    text-align: center;
}

#choose {
    text-align: center;
}

#results {
    text-align: center;
}

#playerLose {
    color: red;
}
#playerWin {
    color: limegreen;
}
#playerTie {
    color: grey;
}

#play-again-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 45;
    -moz-border-radius: 45;
    border-radius: 45px;
    -webkit-box-shadow: 5px 5px 15px #000000;
    -moz-box-shadow: 5px 5px 15px #000000;
    box-shadow: 5px 5px 15px #000000;
    font-family: 'Roboto', sans-serif;

    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#play-again-button:hover {
    background: #3cb0fd;
    text-decoration: none;
}
